<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crystal Team Profiles</title>
</head>
<body style="background-color:#CCCCFF">

        {% for about in aboutus: %}
        {% set name = about["name"] %}
        {% set image = about["image"] %}
        {% set birthday = about["birthday"] %}
        {% set mbti = about["mbti"] %}
        {% set funfact = about["funfact"] %}
        {% set sign = about["sign"] %}
        <ol>
            <h3>Name: <span style="color: #00008B;">{{name}}</span></h3>
            <img src="{{ url_for('static', filename= image) }}">
            <li>Birthday: <span style="color: #00008B;">{{birthday}}</span></li>
            <li>MBTI: <span style="color: #00008B;">{{mbti}}</span></li>
            <li>Star Sign: <span style="color: #00008B;">{{sign}}</span></li>
            <li>Fun Fact: <span style="color: #00008B;">{{funfact}}</span></li>
        </ol>
    {% endfor %}

</body>
</html>
