
{% block head %}
  <title>{{name}} | Guess the Number </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
  <h1>Guess the Number Game</h1>
{% endblock %}

{% block link1 %}
  <button type="button" class="btn btn-info" style="background: pink;">
  <a href="https://repl.it/@idamobini/Guess-the-number-2#main.py" class="btn" role="button">Repl</a>
  </button>
{% endblock %}


<div class="repl.it-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4"><p style="padding:0;margin:0"><iframe src="https://Guess-the-number-2.idamobini.repl.run" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:100vh;display:block;padding:0;margin:0"></iframe></p><div style="padding:8px;text-align:right;margin:0;"><a href="https://Guess-the-number-2.idamobini.repl.run" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"></a></div></div>