# This is a reaction time test written for Python3
print("This is a Reaction Time game")

#This command helps you loop
highScore = 0
print(highScore)
print(" ")
while True:
  print("-----------------------")
  print("Click enter to continue")
  input("-----------------------")
  
  from time import sleep, time
  from random import randint

  random_wait = randint(1, 7)  #generate random wait time
  print('Waiting...')
  sleep(random_wait)
  start = time()
  
  print('Quick, press the Enter key!')
  input()  # keyboard input sets end TIME
  rt = time() - start
  print('You took', rt, 'seconds')
  if rt > 0.53:
    
    print("Your highScore is ", highScore)
  
  elif rt < 0.53:
    
    response = input("Press y to play again or q to quit")
  
  if response == "q":
    break
  
  elif response == "y" or response == "yes":
    print("again")
