{% block head %}
<title>{{name}} | Guess the Number </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
<h1>Guess the Number Game</h1>
{% endblock %}

{% block link1 %}
<button type="button" class="btn btn-info" style="background: pink;">
  <a href="https://repl.it/@CrystalWidjaja/reaction-time-final#main.py" class="btn" role="button">Padlet</a>
</button>
{% endblock %}
    
    response = input("Press y to play again or q to quit")
  
  if response == "q":
    break
  
  elif response == "y" or response == "yes":
    print("again")
