
{% block head %}
  <title>{{name}} | Trivia Game </title>
{% endblock %}

<!-- Project Information  -->
{% block title %}
  <h1>Trivia Game Project</h1>
{% endblock %}

{% block link1 %}
  <button type="button" class="btn btn-info" style="background: pink;">
  <a href="https://padlet.com/evag55486/isztipu406hhtt5" class="btn" role="button">Padlet</a>
  </button>
{% endblock %}
{% block link2 %}
  <button type="button" class="btn btn-link" style="color: black; background: pink;">
  <a href="https://repl.it/@DaneVestal/Project-1#README.md" class="btn" style="text-color: black;">Repl</a>
  </button>
{% endblock %}
